/*
 * Classes
 */
.player-background
{
  background: #0d0c0b url(img/player-background.png) repeat-x;
}
.box-content
{
  margin-top: 10px;
  border: 1px solid #905302;
  width: 200px;
  background: #000;
}
.box-content span
{
  color: #fff;
}
.box-content .title
{
  background-color: #181715;
  height: 25px;
  padding: 2px 0px 0px 4px;
  color: #fff;
  font-weight: bold;
  background-repeat: no-repeat;
  background-image: url(img/player-detalhe-box.png);
  background-position: right bottom;
}
.box-content .titleComunicado
{
  background-color: #181715;
  height: 25px;
  padding: 2px 0px 0px 4px;
  color: #fff;
  font-weight: bold;
  background-repeat: no-repeat;
  background-position: right bottom;
  background-image: url(img/player-detalhe-box-comunicado.png);
}
.box-content ul
{
  font-size: 10pt;
  color: Green;
  list-style-image: url(img/player-usuario-online.png);
  list-style-position: outside;
}
.box-content li
{
}
.player-column
{
  float: left;
  padding-left: 10px;
}

.lista-links
{
  position: absolute;
  top: -15px;
  margin-left: 79px; 
  font-size: 8pt;
}

.lista-links li
{
  list-style: none;
  display: inline;
  border: 1px solid;
  padding: 3px 3px 3px 3px;
}

.list-programacao li
{
  color: #ffa408;
  list-style-position: outside;
  list-style-image: none;
  margin-left: -15px;
  border: 1px solid #666;
  border-width: 0px 0px 1px 0px;
}

/*
 * Controle por ID's
*/
#player-content
{
  width: 919px;
  height: 530px;
  position: absolute;
  margin-left: -459.5px;
  left: 50%;
  margin-top: -265px;
  top: 50%;
}
#lHora
{
  text-align: center;
  font-size: 35pt;
}
#player-contador
{
  text-align: center;
  display: inline;
  font-size: 35pt;
}
#dUsuariosLogados
{
  height: 320px;
}
#player-logo
{
  background: url(img/player-logo.png) no-repeat;
  width: 275px;
  height: 262px;
  position: relative;
  left: 50%;
  margin-left: -137.5px;
}
#dComunicados
{
  position: relative;
  width: 469px;
  height: 249px;
  overflow: auto;
}
#dPlayer
{
  height: 120px;
}
#dPrograma
{
  height: 150px;
}
#dProgramacao
{
  overflow: auto;
  height: 218px;
}
#dStreamComunicados table
{
  width: 100%;
}
#dStreamComunicados th
{
  width: 100px;
  font-size: 9pt;
  background: #42090C;
}
#dStreamComunicados td
{
  font-size: 9pt;
  border: 1px solid #42090C;
}
#player-logout
{
  position: absolute;
  margin-top: -15px;
  left: 10px;
}
#player-logout-lnk a
{
  color: #fff;
}
#player-logout-lnk a:hover
{
  color: red;
}
#player-logout-lnk
{
  margin-left: 5px;
  float: left;
}
#player-logout-img
{
  float: left;
  background: url(img/player-logout.png) no-repeat;
  height: 22px;
  width: 22px;
}
