#bar-content
{
    background: url(img/toolbar-background.png) repeat-x;
    color: #000;
    height: 37px;
    width: 100%;
}
#bar-content a
{
    color: #000;
    text-decoration: none;
}
#bar-content a:hover
{
    color: #880303;
}

#bar-content table
{
    height: 100%;
}
#bar-content td
{
    padding: 0px 0px 0px 5px;
}
.toolbar-inferior
{
    background: url(img/toolbar-background.png) repeat-x;
    color: #000;
    height: 10px;
    width: 100%;
}
