#dMenu
{
    width: 240px;
    float: left;
}
#dContent
{
    float: left;
    background: #fff2c7;
}
#dPrincipal
{
    padding: 10px 10px 10px 10px;
}
#dPrincipal div
{
    width: 720px;
}
#dMenu
{
    padding: 1px 0px 1px 0px; 
}
#dMenu a
{
    text-decoration: none;
    font-weight: bold;
    color: #333;
}
#dMenu a:hover
{
    text-decoration: underline;
}
#dMenu ul
{
    list-style: none none;
}
#dMenu li
{
    border: 1px solid transparent;
    margin-left: -10px;
    padding: 4px 4px 4px 4px;
}
#master-top-logo
{
    background: url(img/administrativo-logo.png) no-repeat;
    width: 168px;
    height: 160px;
    position: relative;
    left: 25px;
}
#master-top
{
    height: 160px;
}

#dlnkRadio
{
    background: #f4ab20 url(img/administrativo-topbar-radio.png) no-repeat;
    height: 64px;
    border: 1px solid #c46211;
    width: 160px;
    left: 246px;
    top: 95px;
    position: absolute;
}
#dlnkRadio:hover
{
    background: #feca32 url(img/administrativo-topbar-radio.png) no-repeat;
}
#dlnkRadioAjust a
{
    text-decoration: none;
    color: #fff;
}
#dlnkRadioAjust
{
    font-size: 20pt;
    position: relative;
    margin-left: 60px;
    top: 15px;
}

#dlnkLogoff
{
    background: #f4ab20 url(img/administrativo-topbar-logout.png) no-repeat;
    height: 64px;
    border: 1px solid #c46211;
    width: 160px;
    left: 420px;
    top: 95px;
    position: absolute;
}
#dlnkLogoff:hover
{
    background: #feca32 url(img/administrativo-topbar-logout.png) no-repeat;    
}
#dlnkLogoffAjust a
{
    text-decoration: none;
    color: #fff;
}
#dlnkLogoffAjust
{
    font-size: 20pt;
    position: relative;
    margin-left: 60px;
    top: 15px;
}