body
{
    font-family: Calibri;
    background: #fef8f1 url(img/administrativo-background.png) repeat-x;
    font-size: 10pt;
}
fieldset
{
    border: 1px solid #ffa408;
    padding: 5px 5px 5px 5px;
}
legend
{
    border: 1px solid #ffa408;    
    font-weight: bold;
    padding: 2px 2px 2px 2px;
    margin-left: 5px;
}
th
{
    text-align: left;
    font-weight: normal;
}
input
{
    color: #880303;
}
input[type=submit], input[type=text], input[type=password]
{
    background: #fae9a1;
    border: 1px solid #c46211;
}
